/* reset */

*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline; /* consider middle */
	font-family: inherit;
	color: inherit;
}

[hidden] {
	display: none !important;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

:where(:root) {
	line-height: 1;
	overflow-wrap: break-word;
	tab-size: 4;
}

p {
	line-height: 1.5;
}

:where(nav) :where(ol, ul) {
	list-style-type: none;
}

:where(pre) {
	font-family: monospace;
	font-size: 1rem;
	overflow: auto;
}

:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}

:where(svg:not([fill])) {
	fill: currentColor;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:active, a:hover, a:focus {
	color: inherit;
}

/* better defaults */

body {
	min-height: 100vh;
	min-height: 100svh;
	font-family: system-ui, sans-serif;
}

main {
	padding: 1rem;
}

/* tools */

.container {
	max-width: 60rem;
	margin-inline: auto;
}

.breakout {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}

.row {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	align-items: flex-start;
}

.row.center {
	justify-content: center;
}

.row.fill > * {
	flex: 1 1 auto;
}

.row.space-evenly {
	justify-content: space-evenly;
}

.col {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	align-items: flex-start;
}

.col.center {
	align-items: center;
}

/* house style */

:root {

	--light-green: rgb(169, 214, 188);
	--lavender: rgb(173, 132, 245);
	--dim-lavender: rgb(114, 85, 181);

	--background-color: #eee;
	--text-color: #222;
	--card-background-color: #bbb;

	--interactive-color: var(--lavender);
	--interactive-accent-color: var(--dim-lavender);
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

section, .card {
	background-color: var(--card-background-color);
	padding: 1rem;
	border-radius: 0.5rem;
}

a {
	text-decoration: none;
}

a:not(.button) {
	color: var(--interactive-accent-color);
}

a:not(.button):hover {
	color: var(--text-color);
}

a[target="_blank"]::after {
	content: '';
	display: inline-block;
	margin-left: 0.25em;
	width: 0.875em;
	height: 0.875em;
	background-color: currentColor;
	-webkit-mask: url(/images/external-link.svg) no-repeat 100% 100%;
	mask: url(/images/external-link.svg) no-repeat 100% 100%;
	-webkit-mask-size: cover;
	mask-size: cover;
	margin-bottom: -0.05em;
}

button,
a.button {
	--raised-height: 0.25rem;
	--padding-bottom: 0.5em;
	padding: .5em 1.5em 0.5em 1.5em;
	border-radius: 0.25rem;
	background-color: var(--interactive-color);
	border: 1px solid var(--interactive-accent-color);
	box-shadow: 0 0.25rem 0 0 var(--interactive-accent-color);
	margin-bottom: 0.25rem;
	position: relative;
	display: block;
}

button:active,
a.button:active {
	color: inherit;
	box-shadow: 0 -0.175rem 0 0 var(--interactive-accent-color);
	padding-bottom: calc(0.5em - 0.1rem);
	margin-top: 0.35rem;
	margin-bottom: 0;
}

button:hover,
a.button:hover {
	border: 1px solid currentcolor;
}

/* nitpicking
button::after,
a.button::after {
	content: '';
	height: 0.25rem;
	background-color: var(--interactive-accent-color);
	right: -1px;
	top: 50%;
	display: block;
	width: 0.75px;
	position: absolute;
}

button:active::after,
a.button:active::after {
	transform: translateY(-.3rem);
}
*/
